# 这个带 prod后缀的可以理解为 生产环境，也叫线上环境，项目上线用的
spring:
  application:
    name: user-center-backend
  # DataSource Config
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    #    这里写生产环境地址 （线上地址）
    url: jdbc:mysql://39.101.78.159:3306/usercenter
    username: root
    password: 123456
  # session 失效时间
  session:
    timeout: 86400
    # 因为127.0.0.1可能默认使用 ipv6的地址，所以设置address:0.0.0.0可以
    # 讲其修改为ipv4
server:
  address: 0.0.0.0
